# 筋電位差データを含む加速度・角速度センサデータの前処理

### 0. 必要なモジュールのインポート

In [1]:
import pandas as pd

### 1. データの読み込み

■1-1. データフレームの項目名リスト`koumoku`を作成しておく。ただし，項目名は`'0'`〜`'7'`の連続した整数**文字列**にしておく。

In [2]:
koumoku = [str(i) for i in range(8)]

■1-2. データファイル'kondou_L.csv'（**センサ1**のデータフレーム）と'kondou_R.csv'（**センサ2**のデータフレーム）をそれぞれ，データフレーム`df1`と`df2`読み込む。

In [3]:
df1 = pd.read_csv("kondou_L.csv", names=koumoku)
df2 = pd.read_csv("kondou_R.csv", names=koumoku)

■1-3. データフレーム`df1`と`df2`を表示してみる。

In [4]:
df1

              0         1      2      3     4    5     6     7
0       ead2200  58208073      0      0     0    0   NaN   NaN
1       ead2200  58208074      0      0     0    0   NaN   NaN
2       ead2200  58208075      0      0     0    0   NaN   NaN
3       ead2200  58208076      0      0     0    0   NaN   NaN
4       ead2200  58208077  32767  32767     0    0   NaN   NaN
...         ...       ...    ...    ...   ...  ...   ...   ...
484313  ead2200  58450253    273    266     0    0   NaN   NaN
484314      ags  58450254  -8843  -3666 -2501  399  94.0   7.0
484315  ead2200  58450254    265    265     0    0   NaN   NaN
484316      ags  58450255  -8848  -3697 -2525  417  94.0  13.0
484317  ead2200  58450255    269    268     0    0   NaN   NaN

[484318 rows x 8 columns]

In [5]:
df2

              0         1      2      3     4    5      6      7
0       ead2200  58207992      0      0     0    0    NaN    NaN
1       ead2200  58207993      0      0     0    0    NaN    NaN
2       ead2200  58207994      0      0     0    0    NaN    NaN
3       ead2200  58207995      0      0     0    0    NaN    NaN
4       ead2200  58207996 -25168  32767     0    0    NaN    NaN
...         ...       ...    ...    ...   ...  ...    ...    ...
483911  ead2200  58449971    627    363     0    0    NaN    NaN
483912      ags  58449972  -9336   1571 -2538 -888  303.0 -893.0
483913  ead2200  58449972    624    361     0    0    NaN    NaN
483914      ags  58449973  -9333   1544 -2526 -870  303.0 -899.0
483915  ead2200  58449973    635    359     0    0    NaN    NaN

[483916 rows x 8 columns]

### 2. センサ1のデータフレーム（df1）の加工

■2-1. 項目'0'で'ags'となっているデータを取り出し，データフレーム`df1a`に格納し，表示してみる。  
※）`df1`の項目'0'で'ags'となっているレコード(行)を取り出してデータフレームにし，それを`df1a`に格納する場合。

In [6]:
df1a = df1[df1['0']=='ags']
df1a

          0         1     2     3     4    5      6     7
48      ags  58208121 -8719 -4022 -2877  264  424.0   7.0
50      ags  58208122 -8702 -4005 -2931  258  417.0   7.0
52      ags  58208123 -8719 -4046 -2933  252  405.0  -5.0
54      ags  58208124 -8743 -4037 -2982  246  405.0   1.0
56      ags  58208125 -8746 -4056 -2977  258  399.0   7.0
...     ...       ...   ...   ...   ...  ...    ...   ...
484308  ags  58450251 -8843 -3702 -2516  392   64.0  20.0
484310  ags  58450252 -8858 -3675 -2538  392   76.0  20.0
484312  ags  58450253 -8851 -3646 -2494  392   88.0  13.0
484314  ags  58450254 -8843 -3666 -2501  399   94.0   7.0
484316  ags  58450255 -8848 -3697 -2525  417   94.0  13.0

[242135 rows x 8 columns]

> 項目**'1'は時間**，**'2'〜'4'は加速度の*x*,*y*, *z*成分**，**'6'〜'7'は角速度の*x*, *y*, *z*成分**。

■2-2. 項目'0'で'ead2200'となっているデータを取り出し，データフレーム`df1a`に格納し，表示してみる：

In [7]:
df1e = df1[df1['0']=="ead2200"]
df1e

              0         1      2      3  4  5   6   7
0       ead2200  58208073      0      0  0  0 NaN NaN
1       ead2200  58208074      0      0  0  0 NaN NaN
2       ead2200  58208075      0      0  0  0 NaN NaN
3       ead2200  58208076      0      0  0  0 NaN NaN
4       ead2200  58208077  32767  32767  0  0 NaN NaN
...         ...       ...    ...    ... .. ..  ..  ..
484309  ead2200  58450251    252    258  0  0 NaN NaN
484311  ead2200  58450252    263    266  0  0 NaN NaN
484313  ead2200  58450253    273    266  0  0 NaN NaN
484315  ead2200  58450254    265    265  0  0 NaN NaN
484317  ead2200  58450255    269    268  0  0 NaN NaN

[242183 rows x 8 columns]

> 項目**'1'は時間**，**'2','3'はそれぞれチャンネル1,チャンネル2の筋電位差**，**'4'〜'7'は意味なし**。

■2-3. `df1a`と`df1e`を項目'1'（時刻）で**マージ**し，それを新たなデータフレーム`df1ae`に格納する。その後表示する。  
※）<a href="https://note.nkmk.me/python-pandas-merge-join/">pandas.DataFrameを結合するmerge, join（列・インデックス基準）</a>を参照。

In [8]:
df1ae = pd.merge(df1a, df1e, on='1')
df1ae

,0_x,1,2_x,3_x,4_x,5_x,6_x,7_x,0_y,2_y,3_y,4_y,5_y,6_y,7_y
0,ags,58208121,-8719,-4022,-2877,264,424.0,7.0,ead2200,-25838,24587,0,0,NaN,NaN
1,ags,58208122,-8702,-4005,-2931,258,417.0,7.0,ead2200,-32203,32767,0,0,NaN,NaN
2,ags,58208123,-8719,-4046,-2933,252,405.0,-5.0,ead2200,-32768,32767,0,0,NaN,NaN
3,ags,58208124,-8743,-4037,-2982,246,405.0,1.0,ead2200,-32768,32767,0,0,NaN,NaN
4,ags,58208125,-8746,-4056,-2977,258,399.0,7.0,ead2200,-32768,32767,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242130,ags,58450251,-8843,-3702,-2516,392,64.0,20.0,ead2200,252,258,0,0,NaN,NaN
242131,ags,58450252,-8858,-3675,-2538,392,76.0,20.0,ead2200,263,266,0,0,NaN,NaN
242132,ags,58450253,-8851,-3646,-2494,392,88.0,13.0,ead2200,273,266,0,0,NaN,NaN
242133,ags,58450254,-8843,-3666,-2501,399,94.0,7.0,ead2200,265,265,0,0,NaN,NaN
242134,ags,58450255,-8848,-3697,-2525,417,94.0,13.0,ead2200,269,268,0,0,NaN,NaN

■2-4.`df1ae`の項目'0_x', '0_y'はデバイス名の項目，'4_y', '5_y', '6_y', '7_y'は意味のない不要な項目なので，それらを取り除き（`drop`し），それを新しいデータフレーム`df1eff`格納して表示してみる。`df1eff`を**センサ1の有効データフレーム**とよぶことにする。  
※）<a href="https://note.nkmk.me/python-pandas-drop/">pandas.DataFrameの行・列を指定して削除するdrop</a>を参照。

In [9]:
df1eff = df1ae.drop(columns=['0_x', '0_y', '4_y', '5_y', '6_y', '7_y'])
df1eff

               1   2_x   3_x   4_x  5_x    6_x   7_x    2_y    3_y
0       58208121 -8719 -4022 -2877  264  424.0   7.0 -25838  24587
1       58208122 -8702 -4005 -2931  258  417.0   7.0 -32203  32767
2       58208123 -8719 -4046 -2933  252  405.0  -5.0 -32768  32767
3       58208124 -8743 -4037 -2982  246  405.0   1.0 -32768  32767
4       58208125 -8746 -4056 -2977  258  399.0   7.0 -32768  32767
...          ...   ...   ...   ...  ...    ...   ...    ...    ...
242130  58450251 -8843 -3702 -2516  392   64.0  20.0    252    258
242131  58450252 -8858 -3675 -2538  392   76.0  20.0    263    266
242132  58450253 -8851 -3646 -2494  392   88.0  13.0    273    266
242133  58450254 -8843 -3666 -2501  399   94.0   7.0    265    265
242134  58450255 -8848 -3697 -2525  417   94.0  13.0    269    268

[242135 rows x 9 columns]

> **項目'1'は時間，'2_x', '3_x', '4_x'は加速度の*x, y, z*成分，'5_x', '6_x', '7_x'は角速度の*x, y, z*成分，'2_y','3_y'はch1, ch2の筋電位。**

### 3. センサ2のデータフレーム（df2）の加工¶

■3-1. セクション2で(`df1`に対して)行ったことと全く同じ手続きをデータフレーム`df2`に対して行えばよい。これを１つのセルでまとめてやってしまう。

In [10]:
df2a = df2[df2['0']=='ags']
df2e = df2[df2['0']=="ead2200"]
df2ae = pd.merge(df2a, df2e, on='1')
df2eff = df2ae.drop(columns=['0_x', '0_y', '4_y', '5_y', '6_y', '7_y'])

■3-2. `df2eff`を表示してみる。データフレーム`df2eff`を**センサ2の有効データフレーム**とよぶことにする。

In [11]:
df2eff

               1   2_x   3_x   4_x  5_x    6_x    7_x    2_y    3_y
0       58208040 -8999  1646 -3080  318  297.0   27.0  32767  32767
1       58208041 -8999  1646 -3080  318  297.0   27.0  32767  32767
2       58208042 -8997  1605 -3082  330  279.0   39.0  32767  32767
3       58208043 -8997  1605 -3082  330  279.0   39.0  32767  32767
4       58208044 -9045  1617 -3180  337  303.0   45.0  32767  32767
...          ...   ...   ...   ...  ...    ...    ...    ...    ...
241929  58449969 -9355  1612 -2624 -906  322.0 -887.0    634    338
241930  58449970 -9363  1619 -2536 -906  310.0 -893.0    638    354
241931  58449971 -9346  1619 -2526 -894  303.0 -899.0    627    363
241932  58449972 -9336  1571 -2538 -888  303.0 -893.0    624    361
241933  58449973 -9333  1544 -2526 -870  303.0 -899.0    635    359

[241934 rows x 9 columns]

> `df2eff`は`df1eff`と（値は異なるが）全く同じ形式のデータフレームである。

### 4. ２つの有効データフレームのマージと整形，および書き出し

■4-1. センサ1の有効データフレーム`df1eff`とセンサ2の有効データフレーム`df2eff`を**項目'1'(時間)でマージ**し，それを新しいデータフレーム`dfeff`に格納し表示してみる。

In [12]:
dfeff = pd.merge(df1eff, df2eff, on='1')
dfeff

,1,2_x_x,3_x_x,4_x_x,5_x_x,6_x_x,7_x_x,2_y_x,3_y_x,2_x_y,3_x_y,4_x_y,5_x_y,6_x_y,7_x_y,2_y_y,3_y_y
0,58208121,-8719,-4022,-2877,264,424.0,7.0,-25838,24587,-9026,1661,-3195,410,425.0,63.0,32767,17788
1,58208122,-8702,-4005,-2931,258,417.0,7.0,-32203,32767,-9019,1632,-3190,404,419.0,70.0,32767,15536
2,58208123,-8719,-4046,-2933,252,405.0,-5.0,-32768,32767,-9011,1651,-3217,385,425.0,70.0,30643,15384
3,58208124,-8743,-4037,-2982,246,405.0,1.0,-32768,32767,-9026,1629,-3209,367,444.0,63.0,25746,15539
4,58208125,-8746,-4056,-2977,258,399.0,7.0,-32768,32767,-9045,1590,-3222,373,450.0,63.0,20410,14988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241848,58449969,-9017,-3580,-2508,-771,-594.0,-626.0,266,264,-9355,1612,-2624,-906,322.0,-887.0,634,338
241849,58449970,-9014,-3565,-2538,-777,-582.0,-620.0,262,256,-9363,1619,-2536,-906,310.0,-893.0,638,354
241850,58449971,-9014,-3551,-2530,-771,-594.0,-632.0,244,270,-9346,1619,-2526,-894,303.0,-899.0,627,363
241851,58449972,-8978,-3563,-2506,-771,-612.0,-632.0,242,269,-9336,1571,-2538,-888,303.0,-893.0,624,361
241852,58449973,-8958,-3553,-2535,-771,-618.0,-632.0,251,271,-9333,1544,-2526,-870,303.0,-899.0,635,359

> 項目名の最後が"_x"で終わっているデータがセンサ1のもの，目名の最後が"_y"で終わっているデータがセンサ2のもの。

■4-2. 上のデータフレームの項目名が何を表しているか分かりにくいので，項目名を次のように付け替える。
- '1'は**時間なので，'t'**
- '2_x_x', '3_x_x', '4_x_x'は**センサ1の加速度の*x, y, z*成分なので，'a1x', 'a1y', 'a1z'**
- '5_x_x', '6_x_x', '7_x_x'は**センサ1の加速度の*x, y, z*成分なので，'o1x', 'o1y', 'o1z'**
- '2_y_x', '3_y_x'は**センサ1の筋電チャンネル1と2なので，'ch11', 'ch12'**
- '2_x_y', '3_x_y', '4_x_y'は**センサ2の加速度の*x, y, z*成分なので，'a21x', 'a2y', 'a2z'**
- '5_x_y', '6_x_y', '7_x_y'は**センサ2の加速度の*x, y, z*成分なので，'o2x', 'o2y', 'o2z'**
- '2_y_y', '3_y_y'は**センサ2の筋電チャンネル1と2なので，'ch21', 'ch22'**

In [13]:
dfeff.columns=['t', 'a1x', 'a1y', 'a1z', 'o1x', 'o1y', 'o1z', 'ch11', 'ch12', 'a2x', 'a2y', 'a2z', 'o2x', 'o2y', 'o2z', 'ch21', 'ch22']

■4-3. `dfeff`をもう一度表示する。

In [14]:
dfeff

,t,a1x,a1y,a1z,o1x,o1y,o1z,ch11,ch12,a2x,a2y,a2z,o2x,o2y,o2z,ch21,ch22
0,58208121,-8719,-4022,-2877,264,424.0,7.0,-25838,24587,-9026,1661,-3195,410,425.0,63.0,32767,17788
1,58208122,-8702,-4005,-2931,258,417.0,7.0,-32203,32767,-9019,1632,-3190,404,419.0,70.0,32767,15536
2,58208123,-8719,-4046,-2933,252,405.0,-5.0,-32768,32767,-9011,1651,-3217,385,425.0,70.0,30643,15384
3,58208124,-8743,-4037,-2982,246,405.0,1.0,-32768,32767,-9026,1629,-3209,367,444.0,63.0,25746,15539
4,58208125,-8746,-4056,-2977,258,399.0,7.0,-32768,32767,-9045,1590,-3222,373,450.0,63.0,20410,14988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241848,58449969,-9017,-3580,-2508,-771,-594.0,-626.0,266,264,-9355,1612,-2624,-906,322.0,-887.0,634,338
241849,58449970,-9014,-3565,-2538,-777,-582.0,-620.0,262,256,-9363,1619,-2536,-906,310.0,-893.0,638,354
241850,58449971,-9014,-3551,-2530,-771,-594.0,-632.0,244,270,-9346,1619,-2526,-894,303.0,-899.0,627,363
241851,58449972,-8978,-3563,-2506,-771,-612.0,-632.0,242,269,-9336,1571,-2538,-888,303.0,-893.0,624,361
241852,58449973,-8958,-3553,-2535,-771,-618.0,-632.0,251,271,-9333,1544,-2526,-870,303.0,-899.0,635,359

## できた！
> これを**有効データフレーム**とよぶことにする。

■4-4. 有効データフレーム`dfeff`をCSVファイル，"effective_data.csv"に書き出す。ただし，書き出したCSVファイルにはindex番号が要らないので，オプション`index=False`を指定する。  
※）<a href="https://note.nkmk.me/python-pandas-to-csv/">pandasでcsvファイルの書き出し・追記（to_csv）</a>を参照。

In [15]:
dfeff.to_csv("effective_data.csv", index=False)

■4-5. 念のため，"effective_data.csv"をデータフレーム`df`に読み込んで表示し，上の`dfeff`のデータと一致しているか確かめてみる。

In [16]:
df = pd.read_csv("effective_data.csv")
df

,t,a1x,a1y,a1z,o1x,o1y,o1z,ch11,ch12,a2x,a2y,a2z,o2x,o2y,o2z,ch21,ch22
0,58208121,-8719,-4022,-2877,264,424.0,7.0,-25838,24587,-9026,1661,-3195,410,425.0,63.0,32767,17788
1,58208122,-8702,-4005,-2931,258,417.0,7.0,-32203,32767,-9019,1632,-3190,404,419.0,70.0,32767,15536
2,58208123,-8719,-4046,-2933,252,405.0,-5.0,-32768,32767,-9011,1651,-3217,385,425.0,70.0,30643,15384
3,58208124,-8743,-4037,-2982,246,405.0,1.0,-32768,32767,-9026,1629,-3209,367,444.0,63.0,25746,15539
4,58208125,-8746,-4056,-2977,258,399.0,7.0,-32768,32767,-9045,1590,-3222,373,450.0,63.0,20410,14988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241848,58449969,-9017,-3580,-2508,-771,-594.0,-626.0,266,264,-9355,1612,-2624,-906,322.0,-887.0,634,338
241849,58449970,-9014,-3565,-2538,-777,-582.0,-620.0,262,256,-9363,1619,-2536,-906,310.0,-893.0,638,354
241850,58449971,-9014,-3551,-2530,-771,-594.0,-632.0,244,270,-9346,1619,-2526,-894,303.0,-899.0,627,363
241851,58449972,-8978,-3563,-2506,-771,-612.0,-632.0,242,269,-9336,1571,-2538,-888,303.0,-893.0,624,361
241852,58449973,-8958,-3553,-2535,-771,-618.0,-632.0,251,271,-9333,1544,-2526,-870,303.0,-899.0,635,359

> `df`は`dfeff`と確かに一致している。こうして，実際の**運動と筋電の解析**のとき，いちいちこのNotebookで行った手続きをせずとも，**CSVファイル"effective_data.csv"をデータフレーム（例えば`df`）に読み込めばよい**。